body {
    background-color: silver;
}

h1 {
    text-decoration: underline dotted red;
    text-align: center;
    color: antiquewhite;
}

p {
    text-align: center;
    text-decoration: double;
    color: red;
}